.App {
  text-align: center;
}

.imagen-logo {
  height: 5rem;
  pointer-events: none;
}

.logoDiv{
  display: flex;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 0 1rem;
}

.navbar{
  display: flex;
  direction: row;
  list-style: none;
  align-items: center;
}

.navbar li button{
  margin: 0.6rem;
  font-size: 1.2rem;
}

.imgCarrito{
  display: flex;
  align-items: center;
  width: 3rem;
  justify-content: center;
}

.iconoCarrito{
  color: white;
}

.divProducto{
  border: 1px black solid;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
}

.divImagen{
  width: 8rem;
  height: 8rem;
  background-color: gray;
}

.divBotonera{
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.btnSumaResta{
  background-color: #4040db;
  color: white;
  border: none;
  border-radius: 20px;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
}

.btnSumaResta:hover{
  background-color: #6565dd;
  cursor: pointer;
}

.btnAgregar{
  background-color: #4178dd;
  color: white;
  width: 7rem;
  border: none;
  border-radius: 7px;
}

.btnAgregar:hover{
  background-color: #628ee0;
  color: black;
  cursor: pointer;
}

.btnAgregar:disabled{
  background-color: black;
}