*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.App {
  text-align: center;
}

.imagen-logo {
  height: 5rem;
  pointer-events: none;
  margin-top: 0.2rem;
}

.logoDiv{
  display: flex;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 0 1rem;
}

.navbar{
  display: flex;
  direction: row;
  list-style: none;
  align-items: center;
}

.navbar li button{
  margin: 0.6rem;
  font-size: 1.2rem;
  background-color: transparent;
  box-shadow: none;
}

.navbar li button:hover{
  background-color: #373e49;
  cursor: pointer;
}

.linkHeader{
  text-decoration: none;
}

.imgCarrito{
  display: flex;
  align-items: center;
  width: 3rem;
  justify-content: center;
  position: relative;
}

.ItemCountItem-iconoCarrito, .iconoCarrito{
  color: white;
}

.contadorCarrito{
  position: absolute;
  width: 1rem;
  height: 1rem;
  padding: 0.3rem;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  bottom: -0.5rem;
  right: 0.2rem;
  font-size: 0.8rem;
  font-weight: 700;


}

.itemList{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.cardItem{
  border: 1px grey solid;
  width: 14rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
  margin: 0.5rem;
  border-radius: 7px;
  justify-content: space-between;
  min-height: 26rem;
}

.divImagen{
  width: 13rem;
  height: 13rem;
  object-fit: cover;
}

.imagenProductos{
  width: 100%;
}

.divData__h2{
  line-height: 25px;
  margin: 0;
}

.divData__h3{
  margin: 0;
}

.divBotonera{
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.btnSumaResta{
  background-color: #4040db;
  color: white;
  border: none;
  border-radius: 20px;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
}

.btnSumaResta:hover{
  background-color: #6565dd;
  cursor: pointer;
}

.ItemCountItem-btnsCard{
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.ItemCountItem-btnVerMas{
  background-color: #4040db;
  font-size: 0.9rem;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border: none;
  border-radius: 7px 0 0 7px;
}

.ItemCountItem-btnVerMas:hover{
  background-color: #6565dd;
  cursor: pointer;
}

.ItemCountItem-btnAgregar{
  background-color: #4178dd;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 0.4rem;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 0 7px 7px 0;
}

.ItemCountItem-btnAgregarP{
  display: none;
}

.ItemCountItem-btnAgregar:hover{
  background-color: #628ee0;
  color: black;
  cursor: pointer;
}

.ItemCountItem-btnAgregar:disabled{
  background-color: #bdbdbd;
  color: black;
  cursor: default;
}

.ItemCountDetail-btnVerMas{
  display: none;
}

.ItemCountDetail-btnAgregar{
  background-color: #4040db;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 12rem;
  border: none;
  border-radius: 7px;
  padding: 1rem;
}

.ItemCountDetail-btnAgregar:hover{
  background-color: #6565dd;
  cursor: pointer;
}

.ItemCountDetail-btnAgregar:disabled{
  background-color: #bdbdbd;
  cursor: default;
  color: black;
}

.ItemCountDetail-btnAgregarP{
  font-size: 1.5rem
}

.stock{
  margin: 0;
}

.productDetail{
  display: flex;
  flex-direction: row;
}

.productData{
  display:flex;
  flex-direction: column;
  width: 65%;
  align-items: center;
  padding: 2rem;
  text-align: left;
}

.divImagenDetail{
  width: 30rem;
  height: 30rem;
  margin: 1rem;
}

.imagenProductosDetail{
  width: 100%;
}

.productInfo{
  width: 33%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.seleccionarCant{
  margin-top: 7rem;
  font-size: 1.2rem;
  color: #373e49;
}

.divBotoneraDetail{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.btnSumaRestaDetail{
  font-size: 2rem;
  background-color: #4040db;
  border: none;
  border-radius: 7px;
  color: white;
  width: 3rem;
  height: 3rem;
}

.descripcion{
  font-size: 1.6rem;
  color: #595f68;
}

.dataDetail{
  text-align: left;
  margin-top: 3rem;
}

.dataDetail p{
  font-size: 1rem;
  padding: 1rem;
}

.dataG{
  background-color: #e9e9e9;
}

.terminarCompra{
  background-color: #2aba2a;
}

.terminarCompra:hover{
  background-color: #59cd59;
  cursor: pointer;
}

.divCargando{
  margin-top: 10rem;
}

.msjCargando{
  margin-top: 1rem;
}

#carritoMenu{
  text-align: center;
}

.MuiMenu-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carritoMenu li:hover{
  cursor: default;
}

.listaProductosCarrito{
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.listaProductosCarrito li{
  min-height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30rem;
  text-align: center;
  align-items: center;
}

.tituloCarrito{
  padding: 0 0.5rem;
}

.imgItemsCarrito{
  width: 5rem;
}

.btnFinalizarCarrito{
  background-color: #4040db;
  font-size: 0.9rem;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border: none;
  border-radius: 7px;
}

.MuiButtonBase-root{
  align-self: flex-end;
}

.cartContainer{
  padding: 1rem;
}

.itemCartFinal{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.imgCartFinal{
  width: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divDataCarrito{
  text-align: center;
}

.divPrecios{
  text-align: end;
}

.divPrecios h2{
  background-color: #bdbdbd;
}

.divBotoneraCarrito{
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.divEliminarProducto{
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  padding: 0.2rem;
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.66);
}

.divEliminarProducto:hover{
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.66) inset;
  cursor: pointer;
}