.App {
  text-align: center;
}

.imagen-logo {
  height: 5rem;
  pointer-events: none;
}

.logoDiv{
  display: flex;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  padding: 0 1rem;
}

.navbar{
  display: flex;
  direction: row;
  list-style: none;
  align-items: center;
}

.navbar li button{
  margin: 0.6rem;
  font-size: 1.2rem;
}

.imgCarrito{
  display: flex;
  align-items: center;
  width: 3rem;
  justify-content: center;
}

.iconoCarrito{
  color: white;
}